@import "tailwindcss";
@theme {
  --breakpoint-mobile: 360px;
  --breakpoint-tab: 642px;
  --breakpoint-desktop: 1025px;
  --color-gray-01: #f9fafa;
  --color-gray-03: #eeeff1;
  --color-gray-04: #d6d7dc;
  --color-gray-06: #a7a9b4;
  --color-error: #d11111;
  --color-label: #5e616e;
  --color-line: #d6d7de;
  --color-alt: #f4f4f6;
  --color-primary: #6025e1;
}

:root {
  font-family: "Pretendard", Inter, sans-serif;
  background-color: white;
}

@layer components {
  .slick-slide {
    width: 319px !important;
    height: 391px !important;
    margin: 0 10px;
  }
}
