@import "tailwindcss";
@theme {
  --breakpoint-mobile: 360px;
  --breakpoint-tab: 642px;
  --breakpoint-desktop: 1025px;
  --color-gray-03: #eeeff1;
  --color-gray-01: #f9fafa;
  --shadow-header: 0 9px 10px rgba(232, 232, 232, 0.25);
  --shadow-nickname: 4 4px 10px rgba(120, 120, 120, 0.25);
}

:root {
  font-family: "Pretendard", Inter, sans-serif;
  color: #000000;
}
