@import "tailwindcss";
@theme {
  --breakpoint-mobile: 360px;
  --breakpoint-tab: 642px;
  --breakpoint-desktop: 1025px;
  --color-gray-01: #f9fafa;
  --color-gray-03: #eeeff1;
  --color-gray-04: #d6d7dc;
  --color-gray-06: #a7a9b4;
  --color-gray-07: #5e616e;
  --color-gray-08: #474953;
  --color-error: #d11111;
  --color-line: #d6d7de;
  --color-alt: #f4f4f6;
  --color-primary: #6025e1;
  --color-primary-hover: #5522c3;
  --color-primary-active: #320397;
  --color-assistive: #c8c9d0;
}

:root {
  font-family: "Pretendard", Inter, sans-serif;
  background-color: white;
  outline: none;
  -webkit-focus-ring-color: transparent;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply outline-primary;
  }
}

@layer components {
  .input {
    @apply placeholder:text-gray-06 border-gray-03 w-full rounded-lg border px-4 py-3 leading-[24px] tracking-[-0.048px];
  }

  .shadow-header {
    @apply shadow-[0_9px_10px_rgba(232,232,232,0.25)];
  }

  .shadow-nickname {
    @apply shadow-[4px_4px_10px_rgba(120,120,120,0.25)];
  }

  .shadow-writing {
    @apply shadow-[0_4px_5px_rgba(159,159,159,0.25)];
  }

  .shadow-login {
    @apply tab:shadow-[0_18px_30px_rgba(177,177,177,0.06)];
  }

  .error-msg {
    @apply text-error ml-2 text-sm leading-[21px] font-semibold tracking-[-0.042px];
  }

  .login-tab {
    @apply tab:border-gray-03 tab:rounded-xl tab:border tab:px-8 tab:py-10;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary-hover active:bg-primary-active text-white transition-colors;
  }

  .black-btn {
    @apply hover:bg-gray-08 active:bg-gray-07 bg-black text-white transition-colors;
  }
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 25s linear infinite;
  }
}

.animate-slide:hover {
  animation-play-state: paused;
}

@media (min-width: 642px) {
  .animate-slide {
    animation-duration: 20s;
  }
}
